LLM_API_KEY=
LLM_BASE_URL=
LLM_MODEL_PROVIDER=
LLM_MODEL_NAME_PLANER=
LLM_MODEL_NAME_VALIDATOR=
EMBEDDING_PROVIDER=
EMBEDDING_MODEL_NAME=
EMBEDDING_API_KEY=
EMBEDDING_BASE_URL=
EMBEDDING_DIMENSION=
DAEMON_HTTP_PORT=
DAEMON_WS_PORT=
DATA_DIR_NAME=
SQLITE_PATH_NAME=
QDRANT_URL=
